.site-header{
	z-index:2000;
	position:relative;
	padding:20px 0 ;
	.container{
		padding-bottom:0;
	}
	@include bp(sm) {
		padding-bottom:0;
	}
}

.site-header__logo{
	width:105px;
	height:75px;
	img{
		max-width:100%;
	}
	@include bp(sm) {
		float:left;
	}
}

